body {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  background-color: #291b00;
  margin: 0;
  padding: 0;
  color: #333;
}

.goofy-header {
  font-size: 50;
}

h1 {
  text-align: center;
  color: #8A2BE2; 
}

h2 {
  text-align: center;
  color: #8A2BE2; 
}

p {
  text-align: center;
  color: #fdfdfd;
  margin: 10px 0;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: #FFA500; /* Naranja Calabaza */
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #b22222;
}
